.component {
  display: block;
  background-color: rgb(63 81 181 / 20%);
  padding: 10px 15px;
  cursor: pointer;
  transition: opacity .2s;
  border-radius: 4px;
}

.component:hover,
.component:focus {
  opacity: .6;
}

.input {
  display: none;
}
.input:checked ~ .component {
  background-color: var(--primary);
  opacity: 1;
} 