.card {
  border: 1px solid var(--primary);
  background-color: var(--bg);
  border-radius: 4px;
}

.cardHeader {
  padding: 18px 33px;
  background-color: var(--primary);
}

.cardHeaderTitle {
  font-size: 16px;
}

.cardBody {
  padding: 24px 34px;
}

.cardBody > h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardBody > p {
  font-size: 14px;
}